doctype html
html
	head
		meta(name="author" content="794465731@qq.com")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		meta(name="format-detection" content="telephone=no, address=no")
		meta(name="apple-mobile-web-app-title" content="买单吧")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="keywords" content="电影票, 电影院")
		meta(name="description" content="买单吧新一代o2o平台,服务范围广泛,包括电影票,餐饮等一系列民生服务")
		block header
	body
		block content