@import 'variable.scss';
@import 'mixins.scss';
.#{$namespace}scroll-wrapper{
    position: absolute;
    z-index: 2;
    top: 44px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}
.#{$namespace}pull-top-pocket,.#{$namespace}pull-bottom-pocket{
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    visibility:hidden;
}

.#{$namespace}pull-top-pocket{
    top:0px;
    .#{$namespace}icon{
        display: inline-block;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
    }
    .#{$namespace}icon-pulldown{
        background: url(../images/pull-icon@2x.png) center no-repeat;
        background-size: 100%;
        background-position: 0 0;
        width: 20px;
        height: 20px;
    }
    .#{$namespace}icon-refresh{
        background: url(../images/pull-icon@2x.png) center no-repeat;
        background-size: 100%;
        background-position: 0 -20px;
        width: 20px;
        height: 20px;
        @include transition(transform .4s);
        -webkit-animation: loading 2s infinite linear;
    }

    .#{$namespace}icon-reverse{
        @include transform(rotate(180deg) translateZ(0));
    }
}
@-webkit-keyframes loading{
    0%{
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    100%{
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}
.#{$namespace}pull-bottom-pocket{
    bottom:0;
    height: 40px;
    position:relative;
    .#{$namespace}pull-loading{
        visibility:hidden;
        &.#{$namespace}in{
            display: inline-block;
        }
    }   
}
.#{$namespace}pull{
    position: absolute;
    left: 0;
    bottom: 10px;
    right: 0;
    color: #777;
    text-align: center;
    text-shadow: 1px 1px 0 #dfdfdf;
    font-weight: bold;
}

.#{$namespace}pull-loading{
    -webkit-backface-visibility: hidden;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transition:-webkit-transform 0.4s;
    transition: transform 0.4s;
    vertical-align: middle;
    margin-right: 10px;
}

.#{$namespace}pull-caption{
    display: inline-block;
    line-height: 24px;
    font-size: 15px;
    margin-top: 0;
    vertical-align: middle;
    position: relative;
    overflow: visible;
    span{
        display: none;
        &.#{$namespace}in{
            display: inline;
        }
    }
}
.#{$namespace}visibility{
    visibility: visible;
}
.#{$namespace}scroll{
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    @include transition(transform .4s);
}