extends ../common.pug
block header
	link(rel="stylesheet" href="../css/ui.css")
	link(rel="stylesheet" href="../css/grids.css")
	title 水平列表
block content
	header.ui-header
		.ui-back
		.ui-title 水平列表
		.ui-menu 更多

	.ui-lh-container
		.ui-lh-wrap
			.ui-cell
				a
					img(src="../images/01.png")
					div.ui-ellipsis 谁的青春不迷茫
					div.ui-ellipsis 4月18日上映
			.ui-cell
				a
					img(src="../images/01.png")
					div.ui-ellipsis 谁的青春不迷茫
					div.ui-ellipsis 4月18日上映
			.ui-cell
				a
					img(src="../images/01.png")
					div.ui-ellipsis 谁的青春不迷茫
					div.ui-ellipsis 4月18日上映
			.ui-cell
				a
					img(src="../images/01.png")
					div.ui-ellipsis 谁的青春不迷茫
					div.ui-ellipsis 4月18日上映
		.ui-lh-wrap
			.ui-cell
				a
					img(src="../images/01.png")
					div.ui-ellipsis 谁的青春不迷茫
					div.ui-ellipsis 4月18日上映
			.ui-cell
				a
					img(src="../images/01.png")
					div.ui-ellipsis 谁的青春不迷茫
					div.ui-ellipsis 4月18日上映
			.ui-cell
				a
					img(src="../images/01.png")
					div.ui-ellipsis 谁的青春不迷茫
					div.ui-ellipsis 4月18日上映

		ul.ui-lh-wrap
			li.ui-cell
				a
					img(src="../images/01.png")
					div.ui-ellipsis 谁的青春不迷茫
					div.ui-ellipsis 4月18日上映
			li.ui-cell
				a
					img(src="../images/01.png")
					div.ui-ellipsis 谁的青春不迷茫
					div.ui-ellipsis 4月18日上映
			li.ui-cell
				a
					img(src="../images/01.png")
					div.ui-ellipsis 谁的青春不迷茫
					div.ui-ellipsis 4月18日上映

	.ui-lh-pure
		.pure-g
			.pure-u-1-3.ui-cell
				a
					img(src="../images/01.png")
					div.ui-ellipsis 谁的青春不迷茫
					div.ui-ellipsis 4月18日上映
			.pure-u-1-3.ui-cell
				a
					img(src="../images/01.png")
					div.ui-ellipsis 谁的青春不迷茫
					div.ui-ellipsis 4月18日上映
			.pure-u-1-3.ui-cell
				a
					img(src="../images/01.png")
					div.ui-ellipsis 谁的青春不迷茫
					div.ui-ellipsis 4月18日上映

