extends ../common.pug
block header
	link(rel="stylesheet" href="../css/grids.css")
	link(rel="stylesheet" href="../css/grids-responsive.css")
	link(rel="stylesheet" href="../css/ui.css")
block content
	.ui-list-single-container.ui-full-line-divider
		.ui-list-single-wrap.pure-g
			.ui-lf-text.pure-u-3-5 即将上映
			.ui-rg-text.pure-u-2-5 全部
	.ui-list-single-container.ui-full-line-divider
		.ui-list-single-wrap.ui-arrow-black-right.pure-g
			.ui-lf-text.pure-u-3-5 即将上映
			.ui-rg-text.pure-u-2-5 全部
	.ui-list-single-container.ui-full-line-divider
		.ui-list-single-wrap.ui-arrow-black-down.pure-g
			.ui-lf-text.pure-u-3-5 即将上映
			.ui-rg-text.pure-u-2-5 全部
	.ui-list-single-container.ui-part-line-divider
		.ui-list-single-wrap.ui-arrow-black-up.pure-g
			.ui-lf-text.pure-u-3-5 即将上映
			.ui-rg-text.pure-u-2-5 全部

	br
	br
	.ui-list-container
		.ui-list-wrap.ui-part-line-divider
			.ui-list-item 中影国际
			.ui-list-item.ui-ellipsis-2 比如相册或者幻灯片一类的，它的页面很大很复杂，此时在样式表中写上 will-change 是合适的此时在样式表中写上 will-change 是合适的
			.ui-list-item 30元起

	br
	br
	.ui-list-container
		.ui-list-wrap.ui-part-line-divider
			.ui-list-item.ui-arrow-black-right 中影国际
			.ui-list-item.ui-list-sub-ctr
				.ui-lf-text 金球国际影城（上丰路店）
				.ui-rg-text 1.5km
			.ui-list-item 30元起

	br
	br
	.ui-list-container
		.ui-list-wrap.ui-part-line-divider
			.ui-list-item 中影国际
			.ui-list-item 
				h4(style={"padding-top": "5px", "margin": "0"}) 上海金科路碧波路255号
			.ui-list-item.ui-list-sub-ctr
				.ui-lf-text 国际环球中心
				.ui-rg-text 1.5km


	br
	br
	.ui-cell-list-ctr
		ul.ui-table-view
			li.ui-table-view-cell.ui-part-line-divider
				.ui-table
					.ui-table-cell.pure-u-4-5
						.ui-ellipsis 信息化推进办公室张彦合同付款信息化信息化推进办公室张彦合同付款信息化
						div 申请人：李四
						.ui-ellipsis-2 Hi，李明明，申请交行信息卡，100元等你拿，李明明，申请交行信息卡，100元等你拿
					.ui-table-cell.pure-u-1-5.ui-text-right.ui-vertical-top  19:02
			li.ui-table-view-cell.ui-full-line-divider
				.ui-table
					.ui-table-cell.pure-u-4-5
						.ui-ellipsis 信息化推进办公室张彦合同付款信息化信息化推进办公室张彦合同付款信息化
						div 申请人：李四
						.ui-ellipsis-2 Hi，李明明，申请交行信息卡，100元等你拿，李明明，申请交行信息卡，100元等你拿
					.ui-table-cell.pure-u-1-5.ui-text-right.ui-vertical-middle  19:02
			li.ui-table-view-cell.ui-part-line-divider
				.ui-table
					.ui-table-cell.pure-u-4-5
						.ui-ellipsis 信息化推进办公室张彦合同付款信息化信息化推进办公室张彦合同付款信息化
						div 申请人：李四
						.ui-ellipsis-2 Hi，李明明，申请交行信息卡，100元等你拿，李明明，申请交行信息卡，100元等你拿
					.ui-table-cell.pure-u-1-5.ui-text-right.ui-vertical-bottom  19:02